<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>net.techvomit.l-dotfile-update</string>

        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:</string>
        </dict>

        <key>WorkingDirectory</key>
        <string>WORKINGDIR</string>

        <key>ProgramArguments</key>
        <array>
            <string>bash</string>
            <string>DOTUPDATECOMMAND</string>
        </array>

        <!-- Log STDERR -->
        <!-- DEBUG
       <key>StandardErrorPath</key>
       <string>/Users/l/Library/Logs/com.l.dotfile-update-err.log</string> -->

        <!-- Log STDOUT -->
        <!-- DEBUG
        <key>StandardOutPath</key>
        <string>/Users/l/Library/Logs/com.l.dotfile-update.log</string> -->
        
        <!-- Run on startup -->
        <key>RunAtLoad</key>
        <true/>

        <!-- Also run every day at 10:00 AM -->
        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>10</integer>
            <key>Minute</key>
            <integer>00</integer>
        </dict>
    </dict>
</plist>
