[alias]
    c = commit -S --edit
    d = diff
    m = merge -S --no-ff --edit
    s = status
    b = branch
    pom = push origin master
    pu = pull origin master
[core]
    editor = vim
[include]
    path = $HOME/.gitconfig.userparams
[push]
    default = matching
