[alias]
    c   = commit -S --edit
    d   = diff
    l   = log
    m   = merge -S --no-ff --edit
    s   = status
    b   = branch
    r   = restore
    re  = rebase
    t   = tag
    pom = push origin main
# Set manually:
# git config --global core.editor vim
[core]
    editor = vim
[include]
    path = ~/.gitconfig.userparams
# Set manually:
# git config --global push.default matching
[push]
    default = matching
# Set manually:
# git config --global pull.rebase true
[pull]
  rebase = true

# Authentication for gh cli
[credential "https://github.com"]
        helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
        helper = !/usr/local/bin/gh auth git-credential
